<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
   <style>
	  #editBtn,button{width:80%;padding:3px;}
	  #addBtn{padding: 3px;background-color: #333333;}
   </style>

</head>
<body>
    <main class="container">
	<h1>Sensor Registration System</h1>
    <h2>Sensor List</h2>
    <a role="button" id="addBtn" class="contrast" href="/addSensor">Add New Sensor</a>
    <p>Total Sensors: <span th:text="${totalSensors}">0</span></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Pin</th>
                <th>Location</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sensor : ${sensors}">
                <td th:text="${sensor.sensorName}">Sensor Name</td>
                <td th:text="${sensor.sensorType}">Sensor Type</td>
                <td th:text="${sensor.sensorPin}">Sensor Pin</td>
                <td th:text="${sensor.sensorLocation}">Sensor Location</td>
                <td th:text="${sensor.sensorStatus}">Sensor Status</td>
                <td>
                     <a role="button" id="editBtn" style="margin-bottom:5px" th:href="@{/editSensor/{sensorId}(sensorId=${sensor.sensorId})}">Edit</a>
                    <form th:action="@{/deleteSensor/{sensorId}(sensorId=${sensor.sensorId})}" method="post" style="display:inline;">
                        <button class="button" style="background-color: #CD5C5C" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
