<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
    <main class="container">
		<h1>Sensor Registration System</h1>
        <h2>Sensor List</h2>
        <table>
            <thead>
                <tr>
                    <th>Sensor Name</th>
                    <th>Sensor Type</th>
                    <th>Sensor Pin</th>
                    <th>Sensor Location</th>
                    <th>Sensor Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sensor : ${sensors}">
                    <td th:text="${sensor.sensorName}"></td>
                    <td th:text="${sensor.sensorType}"></td>
                    <td th:text="${sensor.sensorPin}"></td>
                    <td th:text="${sensor.sensorLocation}"></td>
                    <td th:text="${sensor.sensorStatus}"></td>
                </tr>
            </tbody>
        </table>
        <p>Total Sensors: <span th:text="${totalSensors}"></span></p>
        <a role="button" href="/addSensor" class="contrast">Add New Sensor</a>
    </main>
</body>
</html>
